/* text */
body {
  color: #3e3e3e;
  font-family: Cabin;
}

/* links */
<head>
  <style>
    #link { color: #bababa; } /* CSS link color */
  </style>

a.one:link {color: #bababa;}
a.one:visited {color: #A1A1A1;}
a.one:hover {color: #bababa;}